.bg-nav{
background: #DA4453;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.tagline{
    font-size: 100px;
}
.mt-160{
    margin-top: 160px;
}

.bg-cards{
    background: linear-gradient(to right, #CE9FFC, #7367F0);
}
.bg-btn{
    background:linear-gradient(135deg, #F36265 0%,#961276 100%);
}
.bg-nav-dark{
    background-color: black;
}

.bg-navbar{
    background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}